# Ignore everything
*

# But not these files...
!.gitignore
!get_ebSuperBin.sh
!README.md

# Example: don't ignore files in subdirectories:
# !*/

# Example: if the files to be tracked are in subdirectories
# !*/a/b/file1.txt
# !*/a/b/c/*